<!DOCTYPE html>
<html>
  <body>
    <h2> Enter your article below! </h2>
    <form method= "POST" action= "/articles/<%= @article.id %>"> 
    <label>Title:</label>
    <input id= "title" type= "text" name= "article[title]">
    <label>Content:</label>
    <input id= "content" type= "text" name= "article[content]">
    <input type= "submit" value= "Submit" id= "submit" >
    </form>
  </body>
</html>


